<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <title>Cálculo de IMC</title>
    </head>
    <body>
        <div align="center">
            <p th:text="${session.mySessionAttribute}" th:unless="${session == null}">[...]</p>
            <h1>Calcula tu Indice de Masa Corporal (IMC)</h1>
            <a href="new">Haz click aquí para calcular un nuevo IMC</a>
            <br/><br/>
            <p>Medidas anteriores:</p>
            <table border="1" cellpadding="10">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Peso</th>
                        <th>Altura</th>
                        <th>IMC</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="listIMC : ${listIMC}">
                        <td th:text="${IMC.fecha}">Fecha</td>
                        <td th:text="${IMC.peso}">Peso</td>
                        <td th:text="${IMC.altura}">Altura</td>
                        <td th:text="${IMC.iMC}">IMC</td>
                        <td>
                            <a th:href="@{'/edit/' + ${listIMC.id}}">Edit</a>
                            &nbsp;&nbsp;&nbsp;
                            <a th:href="@{'/delete/' + ${listIMC.id}}">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>    
    </body>
</html>